<div class="info">
  <p>Current power: {{ power.toFixed(1) }} W <span class="small">{{ efficiencyPercentage.toFixed(1) }}%</span></p>
  <p>Power per panel: {{ powerPerPanel.toFixed(1) }}W<span class="small">/{{ config.panelWattage }}W</span></p>
  <p>Generation today: {{ wattHoursToday }} Wh <span class="small">&euro;{{ savingsToday.toFixed(2) }}</span></p>
  <p>Generation yesterday: {{ wattHoursYesterday }} Wh <span class="small">&euro;{{ savingsYesterday.toFixed(2) }}</span></p>
</div>

<div class="graph-container">
  <app-power-device
    [name]="'rb-solar'"
    [overrideHistoryLength]="8 * 60 * 60 * 1000"
    [overrideAverageValues]="false"
  ></app-power-device>
</div>
