<div class="info">
  <p>Current power: {{ solarState?.currentPower | number: '.1' }} W <mat-icon>{{ (solarState?.isGenerating ?? true) ? 'sunny' : 'dark_mode' }}</mat-icon></p>
  <p>Generation today: {{ solarState?.wattHoursToday }} Wh / &euro;{{ solarState?.savingsToday | number: '.2' }}</p>
  <p>Generation yesterday: {{ solarState?.wattHoursYesterday }} Wh / &euro;{{ solarState?.savingsYesterday | number: '.2' }}</p>
</div>

<div class="graph-container">
  <app-power-device
    [name]="'rb-solar'"
    [overrideHistoryLength]="8 * 60 * 60 * 1000"
    [overrideAverageValues]="false"
  ></app-power-device>
</div>
