<div class="row">
  <div class="column">
    <app-power-device [name]="'andledon-smart-meter'"></app-power-device>
    <app-power-device [name]="'rb-boiler'"></app-power-device>
    <app-power-device [name]="'rb-ac'"></app-power-device>
    <app-power-device [name]="'rb-tv'"></app-power-device>
  </div>
  <div class="column">
    <app-power-device [name]="'solar'"></app-power-device>
    <app-power-device [name]="'rb-solar'"></app-power-device>
    <app-power-device [name]="'rb-kachel-slaapkamer'"></app-power-device>
  </div>
</div>
