
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="isHandsetService.isHandset ? 'dialog' : 'navigation'"
               [mode]="isHandsetService.isHandset ? 'over' : 'side'"
               [opened]="isHandsetService.isHandset === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links" [routerLink]="[link.routerLink]" (click)="linkClicked()">
        <a matLine class="link-title">{{ link.title }}</a>
        <mat-icon *ngIf="link.icon" class="link-icon">{{ link.icon }}</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <app-chime-button></app-chime-button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandsetService.isHandset">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Thingymebob</span>
    </mat-toolbar>
    <div class="content-wrapper">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
