<app-device-history-controls [enablePowerControls]="true"></app-device-history-controls>

<app-devices-view
  [devices]="[
    {type: 'three-phase-power', name: 'rb-smart-meter'},
    {type: 'power', name: 'rb-boiler'},
    {type: 'power', name: 'hue-devices'},
    {type: 'power', name: 'rb-solar'},
    {type: 'power', name: 'rb-ac'},
    {type: 'power', name: 'rb-tv'},
    {type: 'power', name: 'rb-kachel-slaapkamer'},
    {type: 'power', name: 'rb-slaapkamer-bureau'},
  ]"
></app-devices-view>
