<button *ngFor="let button of buttons"
        class="control-element"
        mat-raised-button
        color="basic"
        [disabled]="button.disabled"
        (click)="updateLength(button.seconds)"
>{{ button.label }}</button>

<mat-slide-toggle
  class="control-element"
  [checked]="historyConfigService.getAverageHistoryValues().getValue()"
  (change)="updateAverageValues($event)"
>Average values</mat-slide-toggle>

<mat-slide-toggle
  *ngIf="enablePowerControls"
  class="control-element"
  [checked]="historyConfigService.getEnableThreePhaseGraph().getValue()"
  (change)="updateEnableThreePhase($event)"
>3-phase graphs</mat-slide-toggle>
